    {% load static %}
    {% block content %}
    {% include 'header.html' %}

  <!-- ***** Header Area End ***** -->

  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="breadcrumb"><a href="http://127.0.0.1:8000/index">Home</a>  /  Contact Us</span>
          <h3>Contact Us</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-page section">
    <div class="container">
      <div class="row">
        <center>
        <div class="col-lg-6">
          <form id="contact-form" action="addreg" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-12">
                <fieldset>
                  <label for="name">Full Name</label>
                  <input type="name" name="name" id="name" placeholder="Your Name..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <label for="email">Email Address</label>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your E-mail..." required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <label for="subject">Phone</label>
                  <input type="subject" name="phone" id="subject" placeholder="Enter Your Phone Number..." autocomplete="on" >
                </fieldset>
              </div>

              <div class="col-lg-12">
                <fieldset>
                  <label for="subject">Password</label>
                  <input type="password" name="password" id="subject" placeholder="Enter Your Password..." autocomplete="on" >
                </fieldset>
              </div>
             
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="orange-button">Register</button>
                </fieldset>
              </div>
            </div>
          </form>
          </center>
        </div>
       
      </div>
    </div>
  </div>




{% include 'footer.html '%}
{% endblock %}